* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: "PT Sans";
    line-height: 1.7;
    font-weight: 600;
}

ul li {
    list-style: none;
    display: inline-block;
}

header {
    background-color: #0C83FB;
}

.hamburger i {
    color: white;
}

.logo img {
    width: 70px;
}

/* big img */

.cards-application h3 {
    color: #0C83FB;
    font-size: 30px;
    margin: 15px 0;

}

.cards-application p {
    color: #5A6E7F;
    text-align: left;
    margin: 15px 0 30px;
    padding: 0 10px;
}

.cards-application a {
    background-color: #0C83FB;
    padding: 15px 40px;
    border-radius: 30px;
    margin: 50px 0;
    text-decoration: none;
    color: white;
}

/* small img */

.cards-applications h3 {
    color: #0C83FB;
    font-size: 30px;
    margin: 15px 0;

}

.cards-applications p {
    color: #5A6E7F;
    text-align: center;
    margin: 15px 0;
    padding: 0 10px;
}

.cards-applications i {
    color: #0C83FB;
    padding-top: 15px;
}

.cards-application img {
    width: 100%;
    margin: 30px 0 -8px;
}




/* MOBILE FIRST */

/* mobile header */

@media screen and (max-width: 480px) {

    .header-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
    }

    nav {
        display: none;
    }

    /* application big-img */

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .cards-application {
        text-align: center;
        background-color: #B5DDFD;
        padding: 20px 20px 0;
        margin: 50px auto 0;
        border-radius: 20px;
    }

    /* applications small-img */

    .cards-applications {
        text-align: center;
        background-color: #B5DDFD;
        padding: 20px;
        margin: 30px auto;
        border-radius: 20px;
    }

    /* planning */

    .container-plan {
        background-color: #9792E4;
        padding-bottom: 60px;
    }

    .planning {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }

    .planning h2 {
        font-size: 32px;
        margin: 30px 0;
        color: white;
    }

    .planning p {
        color: white;
    }

    .planning img {
        width: 100%;
        margin: 40px 0;
    }

    .sub {
        background-color: white;
        border-radius: 40px;
        margin: 30px auto 0;
        text-align: center;
        color: black;
    }

    .sub h2 {
        color: black;
    }

    .sub p {
        color: black;
        font-size: 18px;
        line-height: 30px;
        padding: 5px;
    }

    .anchor {
        background-color: #9792E4;
        padding: 15px;
        width: 23%;
        border-radius: 50%;
        margin: 50px auto;
    }

    /* testimonials */

    .white-section{
        text-align: center;
        padding: 44px;
    }
    .white-section h2{
        color: #9792E4;
        font-size: 35px;
        line-height: 55px;
        margin: 30px 0;
    }
    .white-section h3{
        font-size: 23px ;
        font-weight: 200;
        line-height: 40px;
    }

    /* testimonials cards */

    .review-cards {
        width: 80%;
        margin: 30px auto;
        border-radius: 40px;
        background-color: #9792E4;
        padding: 30px;
        color: white;
        font-weight: 100;
        text-align: center;

    }

    .review-cards img {
        width: 100%;
        border-radius: 50%;
    }
    .review-cards p {
        margin: 20px 0;
        font-size: 18px;
    }

}